header, footer {
  height: 100px;
  background-color: blue;
}

.top h1{
  padding: 20px;
  font-size: 30px;
  float: left;
}

.lists {
  float: right;
}

.lists li {
  float: left;
  font-size: 5px;
}

.main {
  height: 500px;
}