<!DOCTYPE html>
<html>
  <head>
    <title>BlogSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="top">
        <h1>BLOG(仮)</h1>
        <div class="lists">
          <ul>
            <li>投稿一覧</li>
            <li>サインアップ</li>
            <li>ログイン</li>
          </ul>
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <div class="bottom">
        <ul>
          <li>Help</li>
          <li>About</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
